<h3 class="red-bg">MI CARRITO</h3>

<%
  api_version = Rails.application.config.API_VERSION
  no_checkout_display = 'block'
  if current_user.checkout_list.present? and current_user.checkout_list.product_rows.present?
    no_checkout_display = 'none'
%>
  <% current_user.checkout_list.product_rows.each do |product_row| %>
    <div class="cart-product-row"
         data-remove-path="<%= remove_cart_product_row_url product_hash(product_row.product.id) %>"
         data-put-path="<%= edit_checkout_row_url product_row_hash(product_row.id) %>">

      <i class="fa fa-times remove-row smooth-transition" aria-hidden="true"></i>

      <div class="cart-product-image">
        <img src="<%= product_row.product.image.url(:thumb) %>"/>
      </div>

      <h2>
        <a href="<%= product_path product_row.product %>" class="smooth-transition"><%= product_row.product.name %></a>
      </h2>


      <div class="cart-product-quantity">

        <div class="quantity-message">
          x<span><%= product_row.quantity %></span>
        </div>

        <div class="quantity-controls">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </div>
      </div>

      <% if product_row.product.price.present?
           total_price = product_row.quantity * product_row.product.price.to_i %>
          <span class="cart-product-price" data-product-price="<%= product_row.product.price.to_i %>">
              <%= '$' + total_price.to_s %>
          </span>
      <% end %>

    </div>
  <% end %>
<% end %>


<h2 class="no-products-message" style="display: <%= no_checkout_display %>">No hay productos en esta lista</h2>


