<h3 class="purple-bg">CHECKOUT</h3>

<% if current_user.checkout_list.present? and current_user.checkout_list.product_rows.present? %>
    <% current_user.checkout_list.product_rows.each do |product_row| %>
        <div class="cart-product-row">

          <div class="cart-product-image">
            <img src="<%= product_row.product.image.url(:thumb) %>"/>
          </div>

          <h2>
            <a class="smooth-transition"><%= product_row.product.name %></a>
          </h2>


          <div class="cart-product-quantity">

            <div class="quantity-message">
              x<span><%= product_row.quantity %></span>
            </div>

          </div>

          <% if product_row.product.price.present?
               total_price = product_row.quantity * product_row.product.price.to_i %>
          <span class="cart-product-price" data-product-price="<%= product_row.product.price.to_i %>">
              <%= '$' + total_price.to_s %>
          </span>
          <% end %>

        </div>
    <% end %>
<% end %>



