<!-- Start Header -->
<%= render :partial => 'layouts/header' %>
<!-- End Header -->



<div class="grilla user-cart  user-cart-checkout ">

  <!-- Checkout Block -->
  <%= render :partial => 'checkout/checkout_products_list' %>
  <!-- End Checkout Block -->


  <div class="total-row">

    <div class="total-sum-container">
      <div class="total-sum">
        $<span>0</span>
      </div>
    </div>

    <div class="total-sum-container">
      <a href="<%= profile_path %>" class="transparent-with-hover-yellow">
        < Editar Compra
      </a>

      <a href="<%= @checkout_link %>" name="MP-Checkout" class="buy-button yellow-with-icon-hover button">
        <span>COMPRAR</span>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </a>
    </div>

  </div>


</div>
<script type="text/javascript" src="//resources.mlstatic.com/mptools/render.js"></script>


<!-- Start Footer -->
<%= render :partial => 'layouts/footer' %>
<!-- End Footer -->
