<div class="user-purchased-item-block">

  <% if @order.order_products_list.present? and @order.order_products_list.order_products_rows.any? %>
      <% @order.order_products_list.order_products_rows.each do |product_row| %>
          <div class="product-row">

            <a href="<%= product_url product_row.product %>" class="smooth-transition">
              <%= product_row.product_name %>
            </a>

            <div class="cart-product-quantity">

              <div class="quantity-message">
                x<span><%= product_row.quantity %></span>
              </div>

            </div>

            <span class="cart-product-price">
                <%= format_price product_row.total %>
            </span>

            <span class="cart-product-image">
              <a href="<%= product_url product_row.product %>">
                <img src="<%= product_row.product.image.url(:thumb) %>">
              </a>
            </span>

          </div>
      <% end %>

      <div class="total-row">
        <h6>Total:</h6>
        <span><%= format_price @order.total %></span>
      </div>
  <% end %>
</div>