<div class="cart-product-row"
     data-remove-path="<%= remove_cart_product_row_url product_hash(@product_row.product.id) %>"
     data-put-path="<%= edit_checkout_row_url product_row_hash(@product_row.id) %>">

  <div class="cart-product-row-header">
    <a href="<%= product_path @product_row.product %>" class="smooth-transition">
      <%= @product_row.product.name %>
    </a>
    <i class="fa fa-trash-o remove-row" aria-hidden="true"></i>
  </div>

  <div class="left-block">
    <a class="cart-product-image" href="<%= product_path @product_row.product %>">
      <img src="<%= @product_row.product.image.url(:thumb) %>"/>
    </a>
  </div>


  <div class="right-block">

    <div class="product-detail-row">
      <strong>Medidas:</strong>
      <span>90x60x45cm</span>
    </div>

    <div class="product-detail-row">
      <strong>Cantidad:</strong>
      <span>
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
        <b class="quantity-message"><%= @product_row.quantity %></b>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </span>
    </div>

    <div class="product-detail-row">
      <strong>Precio:</strong>
      <span class="cart-product-price" data-product-price="<%= @product_row.product.price.to_i %>">
        <%= format_price @product_row.total %>
      </span>
    </div>

  </div>

</div>