<section class="profile-detail">
  <div class="grilla user-purchased-products profile-container">
    <h6>TU CUENTA</h6>

    <div class="block block-left">
      <span><%= current_user.name %></span>
      <%= link_to 'cerrar sesión', destroy_user_session_path, :method => :delete, :class => 'log-out-button' %>

      <p>No hay cuenta de mercado pago vinculada</p>
      <!-- <a href="">vincular</a> -->

      <div class="profile-promotion">
        <h4>APROVECHÁ DEL CUPÓN</h4>
        <h3>DE $200</h3>
      </div>
    </div>


    <div class="block block-right">

      <div class="profile-products-slider-buttons"></div>

      <div class="bx-wrapper profile-products-slider">

        <!-- Start Profile Detail Favourites -->
        <%= render :partial => 'users/profile_detail_favourites' %>
        <!-- End Profile Detail Favourites -->


        <!-- Start Profile Detail Cart -->
        <%= render :partial => 'users/profile_detail_cart' %>
        <!-- End Profile Detail Cart -->

        <!-- Start Profile Detail History -->
        <%= render :partial => 'users/profile_detail_history' %>
        <!-- End Profile Detail History -->

      </div>

    </div>

  </div>

</section>