<div class="profile-products-block">
  <div class="profile-products-inner-block">
    <% if current_user.favourites.any? %>
      <% current_user.favourites.each_with_index do |favourite, i| %>
        <a class="image-block favourite-product-block <%= i % 3 == 0 ? 'last' : '' %>"
           href="<%= product_path favourite.product %>">
          <div class="image-block-with-transition no-image-translate hover-block-trigger without-margin">

            <%= render :partial => 'icons/eye_icon' %>

            <%= image_tag favourite.product.image.url(:rectangular5) %>

            <div class="product-description">
              <h5><%= format_price favourite.product.price %>
                <strong><%= favourite.product.name %></strong>
              </h5>
              <h6>medidas: 50x50x70 de alto</h6>
            </div>


          </div>
        </a>
      <% end %>
    <% else %>
      <div class="no-products-message">
        <h5>Todavía no marcaste ningún producto como favorito
          <a class="product-action-button with-hover">
            <%= render :partial => 'icons/like_button' %>
          </a>
        </h5>
      </div>
    <% end %>
  </div>
</div>