<!-- Start Header -->
<%= render :partial => 'layouts/header' %>
<!-- End Header -->



<div class="grilla user-cart">
  <h3>FAVORITOS</h3>


  <%
     no_favourites_display = 'block'
     if current_user.favourites_list.present? and current_user.favourites_list.product_rows.present?
     no_favourites_display = 'none'
  %>
      <% current_user.favourites_list.product_rows.each do |product_row|
        remove_path_hash = {:product_row_id => product_row.id,
                            :version => Rails.application.config.API_VERSION}
      %>
          <div class="cart-product-row" data-remove-path="<%= remove_cart_product_url remove_path_hash %>">

            <i class="fa fa-times smooth-transition" aria-hidden="true"></i>

            <div class="cart-product-image">
              <img src="<%= product_row.product.image.url(:thumb) %>"/>
            </div>

            <h2>
              <a href="<%= product_path product_row.product %>" class="smooth-transition"><%= product_row.product.name %></a>
            </h2>

            <span class="cart-product-price">
              <%= '$' + product_row.product.price.to_i.to_s unless product_row.product.price.nil? %>
            </span>
          </div>
      <% end %>
  <% end %>
  <h2 class="no-products-message" style="display: <%= no_favourites_display %>">No hay productos en esta lista</h2>
</div>



<!-- Start Footer -->
<%= render :partial => 'layouts/footer' %>
<!-- End Footer -->
