<!-- Start Header -->
<%= render :partial => 'layouts/header' %>
<!-- End Header -->



<div class="grilla user-cart">

  <h3>FAVORITOS</h3>


  <% if @user_products_list.present? %>
      <% @user_products_list.product_rows.each do |product_row|
        remove_path_hash = {:user_id => current_user.id,
                            :product_id => product_row.product.id,
                            :version => Rails.application.config.API_VERSION}
      %>
          <div class="cart-product-row" data-remove-path="<%= remove_cart_product_path(remove_path_hash) %>">

            <i class="fa fa-times smooth-transition" aria-hidden="true"></i>

            <div class="cart-product-image">
              <img src="<%= product_row.product.image.url(:thumb) %>"/>
            </div>

            <h2>
              <a href="<%= product_path product_row.product %>" class="smooth-transition"><%= product_row.product.name %></a>
            </h2>

            <span class="cart-product-price">
              <%= format_price product_row.product.price %>
            </span>
          </div>
      <% end %>
  <% else %>
      <h2>No tiene productos en tu lista</h2>
  <% end %>
</div>



<!-- Start Footer -->
<%= render :partial => 'layouts/footer' %>
<!-- End Footer -->
