<%

  slider_image_size = mobile_device? ? :medium : :slider
  background_img = SiteConfig.home_slide.present? ? SiteConfig.home_slide.first.picture.url(slider_image_size) : nil
%>

<div class="register-section" style='<%= background_img.present? ? "background-image: url(#{background_img})" : "" %>'>

<div class="register-pop-up">

    <a class="" href="<%= root_path %>">
      <img class="close-register-form" src="<%= image_url('icons/close-cross-black-icon.svg') %>">
    </a>

    <a class="logo" href="<%= root_path %>">
      <img src="<%= image_url('logos/lazlo-logotipo.svg') %>">
    </a>

    <div class="register-box grilla medium-border-radious">

      <div class="register-nav-container">
        <div class="register-nav ">
          <h3>Cambiar Contraseña</h3>
        </div>
      </div>

      <div class="register-inner-container">

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: 'forgot-form'}) do |f| %>

            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true, label: 'Correo electrónico' %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Enviar contraseña al mail", class: 'margin-top-medium margin-bottom-medium' %>
            </div>
        <% end %>

        <%- if controller_name != 'sessions' %>
            <%= link_to "<< VOLVER", new_session_path(resource_name), class: 'create-account smooth-transition' %>
        <% end -%>

      </div>
    </div>
  </div>


  <div class="register-black-filter"></div>
</div>
