<div class="left-column">
  <%
     split_column_index = (@page_categories.count / 2.0).ceil
     index = 0
     left_column_enabled = true
     @page_categories.each_with_index do |category|
  %>
      <%
         # To display right images column
         if index == split_column_index && left_column_enabled
           index = 1
           left_column_enabled = false
      %>
          </div>
          <div class="right-column">
      <% end %>


      <a class="home-category-block <%= index % 2 == 1 ? 'odd' : 'even' %>" href="<%= category_path category %>">
        <div class="image-block-with-hover hover-block-trigger ">
          <%= render :partial => 'icons/eye_icon' %>
          <% image_size = index % 2 == 1 ? :rectangular2 : :rectangular1 %>
          <%= image_tag category.image.url(image_size) %>
        </div>

        <h2><%= category.name %></h2>
      </a>

  <%
     index += 1
     end
  %>
  </div>