<div class="slider-block">

  <!--Start icons-->


  <div class="icons">
    <div class="grilla">
      <a class="nav-icon" href="#ajedrez">
        <%= image_tag('chess.png') %>
        <h5>Juegos de</h5>
        <h5> Ajedrez</h5>
      </a>

      <div class="nav-icon">
        <%= image_tag('ratable.png') %>
        <h5>Mesas</h5>
        <h5>Ratonas</h5>
      </div>

      <div class="nav-icon">
        <%= image_tag('horsy.png') %>
        <h5>Caballos</h5>
        <h5>Mecedores</h5>
      </div>

      <div class="nav-icon">
        <%= image_tag('clock.png') %>
        <h5>Relojes</h5>
        <h5>de Mesa</h5>
      </div>
    </div>
  </div>
  <!-- End Icons -->

  <!--Start CLOCK-->

  <div class="landing-slides-container" id="landing-slides-container">

    <div class="slide-home">
      <h3>Relojes de diseño</h3>
      <h4>Colores a pedido de cerámica laqueada</h4>

      <%= image_tag('clocks.jpg') %>
    </div>

    <div class="slide-home">
      <h3>Relojes de diseño</h3>
      <h4>Colores a pedido de cerámica laqueada</h4>
      <%= image_tag('clocks.jpg') %>
    </div>

    <div class="slide-home">
      <h3>Relojes de diseño</h3>
      <h4>Colores a pedido de cerámica laqueada</h4>

      <%= image_tag('clocks.jpg') %>
    </div>

    <div class="slide-home">
      <h3>Relojes de diseño</h3>
      <h4>Colores a pedido de cerámica laqueada</h4>
      <%= image_tag('clocks.jpg') %>
    </div>


  </div>


  <!-- End CLOCK-->

  <div class="arrow">
    <a href="#ajedrez"></a>
  </div>
</div>
<!-- End PLAYS -->