<div class="slider-block">

  <!--Start icons-->


  <div class="icons">
    <div class="grilla">
      <a class="nav-icon" href="#ajedrez">
        <%= image_tag('macain-ajedrez-icon.png', class: 'hide-in-mobile') %>
        <h5>Juegos de</h5>
        <h5> Ajedrez</h5>
      </a>

      <a class="nav-icon" href="#mesas">
        <%= image_tag('macain-mesa-marmol-diseno-minimalista.png', class: 'hide-in-mobile') %>
        <h5>Mesas</h5>
        <h5>Ratonas</h5>
      </a>

      <a class="nav-icon" href="#caballos">
        <%= image_tag('macain-caballo-mecedor-compra.png', class: 'hide-in-mobile') %>
        <h5>Caballos</h5>
        <h5>Mecedores</h5>
      </a>

      <a class="nav-icon" href="#relojes">
        <%= image_tag('macain-reloj.png', class: 'hide-in-mobile') %>
        <h5>Relojes</h5>
        <h5>de Mesa</h5>
      </a>
    </div>
  </div>
  <!-- End Icons -->

  <!--Start CLOCK-->

  <div class="landing-slides-container" >

    <div class="slide-home">

      <h3>Relojes de dise単o</h3>
      <h4>Para darle tu estilo con marcador</h4>

      <div class="slide-img-container">
        <%= image_tag('macain-relojes-diseno-minimalista.jpg') %>
      </div>
    </div>

    <div class="slide-home">
      <h3>Relojes de dise単o</h3>
      <h4>Para darle tu estilo con marcador</h4>

      <div class="slide-img-container">
        <%= image_tag('macain-reloj-blanco-diseno-minimalista.png') %>
      </div>
    </div>

    <div class="slide-home">
      <h3>Relojes de dise単o</h3>
      <h4>Para darle tu estilo con marcador</h4>

      <div class="slide-img-container">
        <%= image_tag('macain-relojes-diseno-minimalista.jpg') %>
      </div>
    </div>

    <div class="slide-home">
      <h3>Relojes de dise単o</h3>
      <h4>Para darle tu estilo con marcador</h4>

      <div class="slide-img-container">
        <%= image_tag('macain-reloj-blanco-diseno-minimalista.png') %>
      </div>
    </div>

  </div>


  <!-- End CLOCK-->

  <div class="arrow">
    <a href="#ajedrez"></a>
  </div>
</div>
<!-- End PLAYS -->