<div class="icon-list" id="sidebar-nav">

  <li data-menuanchor="ajedrez" class="active">
    <a href="#ajedrez" class="det-list">
      <%= image_tag('chezz-icon.png') %>
    </a>
  </li>

  <div class="circle-list">
    <%= image_tag('circle.png') %>
  </div>

  <li data-menuanchor="mesas">
    <a class="det-list" href="#mesas">
      <%= image_tag('ratable.png') %>
    </a>
  </li>

  <div class="circle-list">
    <%= image_tag('circle.png') %>
  </div>

  <li data-menuanchor="caballos">
    <a href="#caballos" class="det-list">
      <%= image_tag('horsy.png') %>
    </a>
  </li>

  <div class="circle-list">
    <%= image_tag('circle.png') %>
  </div>


  <li data-menuanchor="relojes">
    <a href="#relojes" class="det-list">
      <%= image_tag('clock.png') %>
    </a>
  </li>

  <div class="circle-list">
    <%= image_tag('circle.png') %>
  </div>

  <li data-menuanchor="contacto">
    <a href="#contacto" class="det-list">
      <%= image_tag('carrito.png') %>
    </a>
  </li>

</div>