<div class="icon-list" id="sidebar-nav">

  <li data-menuanchor="ajedrez" class="active">
    <a href="#ajedrez" class="det-list">
      <%= image_tag('macain-ajedrez-icon.png') %>
    </a>
  </li>

  <div class="circle-list"></div>

  <li data-menuanchor="mesas">
    <a class="det-list" href="#mesas">
      <%= image_tag('macain-mesa-marmol-diseno-minimalista.png') %>
    </a>
  </li>

  <div class="circle-list"></div>

  <li data-menuanchor="caballos">
    <a href="#caballos" class="det-list">
      <%= image_tag('macain-caballo-mecedor-compra.png') %>
    </a>
  </li>

  <div class="circle-list"></div>


  <li data-menuanchor="relojes">
    <a href="#relojes" class="det-list">
      <%= image_tag('macain-reloj.png') %>
    </a>
  </li>

  <div class="circle-list"></div>

  <li data-menuanchor="contacto">
    <a href="#contacto" class="det-list">
      <%= image_tag('macain-carro-compra-productos-diseno.png') %>
    </a>
  </li>

</div>