<div class="grilla">

  <!-- Start Header -->
  <%= render :partial => 'home/header_main' %>

  <!-- End Header -->

  <!-- Start articulos -->
  <div class="articulos">

    <% @categories.each_with_index do |category, index| %>
        <a class="home-category-block <%= index % 2 == 1 ? 'even' : '' %>"
           href="/<%= category.slug %>"
           style="background-image: url('<%= category.image.url(:medium) %>')">
          <h2><%= category.name %></h2>
        </a>
    <% end %>

  </div>
</div>
<!-- end articulos -->

<!-- Start Footer -->
<div class="footer">
  <div class="grilla">

    <div class="instagram">
      <h6>INSTAGRAM</h6>

      <div class="instagram-fotos">


        <div class="inst-foto">
          <a href="https:/www.instagram.com/p/BIX9voeAC1C/?taken-by=alo_macain"><img src="images/ratona.png"></a>
        </div>

        <div class="inst-foto">
          <a href="https://www.instagram.com/p/BDYhNtOC92p/?taken-by=alo_macain"><img src="images/chezz.png"
                                                                                      height="66"
                                                                                      width="66"></a>
        </div>

        <div class="inst-foto">
          <a href="https://www.instagram.com/p/BHSeq0TAUl-/?taken-by=alo_macain"><img src="images/marmol.png"
                                                                                      height="66"
                                                                                      width="66"></a>
        </div>

        <div class="inst-foto">
          <a href="https://www.instagram.com/p/BGUoyg1i98A/?taken-by=alo_macain"><img src="images/silla.jpg"
                                                                                      height="66"
                                                                                      width="66"></a>
        </div>

        <div class="inst-foto">
          <a href="https://www.instagram.com/p/BGH2NsZi91g/?taken-by=alo_macain"><img src="images/mesa.jpg"
                                                                                      height="66"
                                                                                      width="66"></a>
        </div>

        <div class="inst-foto">
          <a href="https://www.instagram.com/p/BHzj1adAezn/?taken-by=alo_macain"><img src="images/clocks.jpg"
                                                                                      height="66"
                                                                                      width="66"></a>
        </div>
      </div>

    </div>

    <div class="facebook">
      <h6>CONECTATE CON MACAIN</h6>

      <div class="fb">
        <a target="_blank" href="https://www.facebook.com/allomacain">
          <img src="images/fb-trans.png" height="35" width="35">
        </a>
      </div>

      <div class="inst">
        <a target="_blank" href="https:///www.instagram.com/alo_macain">
          <img src="images/inst-trans.png" height="35" width="35">
        </a>
      </div>

    </div>

    <div class="ventas">

      <div class="contacto">
        <h6>CONTACTO</h6>
      </div>

      <div class="contacto">
        <h6>COMPRA ON LINE</h6>
      </div>

    </div>


  </div>
</div>
<!-- End Footer-->

<!--Start mail --->
<div class="pre-contact">

  <div class="contact-left">

  </div>

  <div class="contact">
    <h5>Consultá por los productos</h5>

    <p>alo@macain.com.ar</p>

    <div class="name">
      <input type="text" id="name" size="55" placeholder="Nombre"/>
    </div>

    <div class="phone">
      <input type="text" id="subject" size="55" placeholder="Teléfono"/>
    </div>

    <div class="mail">
      <input type="email" id="mail" size="55" placeholder="e-mail"/>
    </div>

    <div class="message">
      <textarea placeholder="Consulta"></textarea>
    </div>

    <div class="send">
      <a href="#send">Enviar</a>
    </div>
  </div>

  <div class="contact-right">

  </div>
</div>

<!-- End Mail --->


</body>
</html>



