<div class="grilla">

  <!-- Start Header -->
  <%= render :partial => 'home/header_main' %>
  <!-- End Header -->

  <!-- Start articulos -->
  <div class="articulos">

    <% @categories.each_with_index do |category, index| %>
        <a class="home-category-block <%= index % 2 == 1 ? 'even' : '' %>"
           href="/<%= category.slug %>"
           style="background-image: url('<%= category.image.url(:medium) %>')">
          <h2><%= category.name %></h2>
        </a>
    <% end %>

  </div>
</div>
<!-- end articulos -->


<!-- Start Footer -->
<%= render :partial => 'home/footer_main' %>

<!-- End Footer -->



