<!-- Start Header -->
<%= render :partial => 'layouts/header' %>
<!-- End Header -->


<% slider_image_size = mobile_device? ? :medium : :slider %>

<% if @home_page.present? and @home_page.page_images.present? %>
    <!-- Start Slider -->
    <ul class="bx-wrapper">
      <% @home_page.page_images.each do |image| %>
          <li><img src="<%= image.picture.url(slider_image_size) %>"/></li>
      <% end %>

    </ul>
    <!-- End Slider -->
<% end %>

<div class="grilla">

  <!-- Start articulos -->
  <div class="articulos">

    <% @page_categories.each_with_index do |category, index = 1|

      block_class = if index % 5 == 0
                      'violet'
                    elsif index % 4 == 0
                      'blue'
                    elsif index % 3 == 0
                      'green'
                    elsif index % 2 == 0
                      'red'
                    elsif index % 1 == 0
                      'yellow'
                    else
                      ''
                    end

    %>
        <a class="home-category-block <%= block_class %> <%= index %> <%= index % 2 == 1 ? 'even' : '' %>" href="<%= category_path category %>"
           style="background-image: url('<%= category.image.url(:medium) %>')">
          <h2 class="transition "><%= category.name %></h2>
        </a>
    <% end %>

  </div>


  <!-- Start Recomended Products -->
  <%= render :partial => 'products/featured' %>
  <!-- End  Recomended Products -->


</div>
<!-- end articulos -->


<!-- Start Footer -->
<%= render :partial => 'layouts/footer' %>

<!-- End Footer -->



