<% content_for :javascript_includes do %>
    <%= javascript_include_tag 'jquery.fullPage.min' %>
    <%= javascript_include_tag 'jquery.slides.min' %>
    <%= javascript_include_tag 'home-functions' %>
<% end %>

<%= render :partial => 'home/fixed_top_nav' %>


<div id="slider-container">

  <%= render :partial => 'home/landing_block' %>


  <div class="slider-block odd">
    <div class="grilla">
      <div class="product-container plays">
        <h3>Juegos de Ajedrez</h3>
        <h4>Piezas en madera laqueada con polibretano</h4>

        <div class="image-container">
          <%= image_tag('chezz.png') %>
        </div>

        <div class="arrow">
          <a href="#mesas"></a>
        </div>
      </div>
    </div>
  </div>


  <div class="slider-block ">

    <div class="grilla">
      <div class="product-container tables">
        <h3>Mesas Auxiliares</h3>
        <h4>Tapa de mármol y estructura de hierro</h4>

        <div class="image-container">
          <%= image_tag('mesas-auxiliares.png') %>
        </div>

        <div class="arrow">
          <a href="#caballos"></a>
        </div>

      </div>
    </div>
  </div>


  <div class="slider-block odd">
    <!--Start HORSES-->
    <div class="grilla">
      <div class="product-container horses">
        <h3>Caballos Mecedores</h3>
        <h4>En color celeste cielo y rosado claro</h4>

        <div class="image-container">
          <%= image_tag('horsymc.png') %>
        </div>

        <div class="arrow">
          <a href="#relojes"></a>
        </div>

      </div>
    </div>
  </div>
  <!-- End HORSES -->


  <div class="slider-block ">
    <!--Start CLOCK2-->
    <div class="product-container clock2">
      <h3>Relojes de Mesa</h3>
      <h4>Producto de diseño hecho en cerámica</h4>

      <div class="image-container">
        <%= image_tag('reloj-blanco.png') %>
      </div>

      <div class="arrow">
        <a href="#contacto"></a>
      </div>

    </div>
    <div class="grilla">
    </div>
    <!-- End CLOCK2 -->
  </div>

  <%= render :partial => 'home/contact_footer' %>

</div>

<%= render :partial => 'home/sidebar_nav' %>