<% content_for :javascript_includes do %>
    <%= javascript_include_tag 'jquery.fullPage.min' %>
    <%= javascript_include_tag 'jquery.slides.min' %>
    <%= javascript_include_tag 'home-functions' %>
<% end %>

<%= render :partial => 'home/fixed_top_nav' %>


<div id="slider-container">

  <%= render :partial => 'home/landing_block' %>


  <div class="slider-block odd">
    <div class="grilla">
      <div class="product-container plays">
        <h3>Juegos de Ajedrez</h3>
        <h4>Piezas para mentes cuadradas</h4>

        <div class="image-container">
          <%= image_tag('macain-ajedrez-diseno-blanco-negro-minimalista.png') %>
        </div>

        <div class="arrow">
          <a href="#mesas"></a>
        </div>
      </div>
    </div>
  </div>


  <div class="slider-block ">

    <div class="grilla">
      <div class="product-container tables">
        <h3>Colección Mármol</h3>
        <h4>Livianamente pesadas</h4>

        <div class="image-container">
          <%= image_tag('macain-mesas-marmol-diseno-minimalista.png') %>
        </div>

        <div class="arrow">
          <a href="#caballos"></a>
        </div>

      </div>
    </div>
  </div>


  <div class="slider-block odd">
    <!--Start HORSES-->
    <div class="grilla">
      <div class="product-container horses">
        <!-- <h3>Caballos Mecedores</h3>
        <h4>Para que tú hijo pueda viajar (no muy lejos)</h4>
        -->
        <h3>Próximamente</h3>
        <h4>(estamos retocando detalles)</h4>

        <div class="image-container blured">
          <%= image_tag('macain-caballos-mecedores-diseno-minimalista.png') %>
        </div>

        <div class="arrow">
          <a href="#relojes"></a>
        </div>

      </div>
    </div>
  </div>
  <!-- End HORSES -->


  <div class="slider-block ">
    <!--Start CLOCK2-->
    <div class="product-container clock2">
      <h3>Relojes de cerámica</h3>
      <h4>Color a elección (siempre y cuando se blanco)</h4>

      <div class="image-container">
        <%= image_tag('macain-reloj-blanco-diseno-minimalista.png') %>
      </div>

      <div class="arrow">
        <a href="#contacto"></a>
      </div>

    </div>
    <div class="grilla">
    </div>
    <!-- End CLOCK2 -->
  </div>

  <%= render :partial => 'home/contact_footer' %>

</div>

<audio id="audio-up" src="<%= audio_url('audio-up.mp3') %>" preload="auto"></audio>
<%= render :partial => 'home/sidebar_nav' %>