<!-- Start Header -->
<%= render :partial => 'layouts/header' %>
<!-- End Header -->


<% slider_image_size = mobile_device? ? :medium : :slider %>

<%

  if SiteConfig.home_slide.present? %>
  <!-- Start Slider -->
  <div class="home">
    <ul class="bx-wrapper home-slider">
      <% SiteConfig.home_slide.each do |slide| %>
        <li><img src="<%= slide.picture.url(slider_image_size) %>"/></li>
      <% end %>

    </ul>
  </div>
  <!-- End Slider -->
<% end %>



<div class="grilla home">

  <!-- Start categories -->
  <section class="categories">

    <% if @page_categories.present? %>
      <!-- Start Category Rows -->
      <%= render :partial => 'home/category_rows' %>
      <!-- End Category Rows -->
    <% end %>

  </section>
  <!-- End categories -->


  <!-- Start contact -->
  <section class="contact">
    <% if SiteConfig.home_support.present? %>
      <img src="<%= SiteConfig.home_support.first.picture.url(:slider) %>">
    <% end %>
    <div class="floating-text">
      <%= SiteConfig.home_support.first.caption %>
      <button class="transparent-with-hover-yellow contact-form-button">
        Preguntanos
        <svg>
          <use xlink:href="<%= image_url('sprite.svg') %>#right-arrow"/>
        </svg>
      </button>

    </div>
  </section>
  <!-- End contact -->


  <!-- Start products -->
  <section class="products">

    <% if @most_liked_product.present? %>
      <a class="left-product" href="<%= product_path @most_liked_product %>">
        <div class="image-block-with-transition hover-block-trigger">
                  <span class="hover-block smooth-transition">
                    <svg>
                      <use xlink:href="<%= image_url('sprite.svg') %>#eye-icon"/>
                    </svg>
                  </span>
          <%= image_tag @most_liked_product.image.url(:rectangular1) %>

          <div class="product-description">
            <h5>PRODUCTO <strong>MÁS VENDIDO</strong></h5>
            <h6><%= @most_liked_product.name %> - <%= format_price @most_liked_product.price %></h6>
          </div>

        </div>
      </a>
    <% end %>


    <% if @most_purchased_product.present? %>
      <a class="right-product" href="<%= product_path @most_purchased_product %>">
        <div class="image-block-with-transition hover-block-trigger">
                  <span class="hover-block smooth-transition">
                    <svg>
                      <use xlink:href="<%= image_url('sprite.svg') %>#eye-icon"/>
                    </svg>
                  </span>
          <%= image_tag @most_purchased_product.image.url(:rectangular2) %>

          <div class="product-description">
            <h5>PRODUCTO <strong>MÁS LIKEADO</strong></h5>
            <h6><%= @most_liked_product.name %></h6>
          </div>

        </div>
      </a>
    <% end %>


  </section>
  <!-- End products -->


  <!-- Start promotions -->
  <section class="promotions">
    <% if SiteConfig.home_promotion.present? %>
      <a class="left-promotion" href="<%= SiteConfig.home_promotion.first.caption %>">
        <div class="product-description">
          <!--        <h3>HASTA<br>40%OFF</h3>-->
        </div>

        <span style="background-image: url(<%= SiteConfig.home_promotion.first.picture.url(:home_promotion) %>)"></span>
      </a>
    <% end %>


    <div class="right-promotion">
      <svg>
        <use xlink:href="<%= image_url('sprite.svg') %>#discount-icon"/>
      </svg>
      <h5>GANATE $300</h5>
      <a href="https://www.facebook.com/lazlo.design" target="_blank" class="button transparent-with-hover-yellow">SEGUIR
        LAZLO EN FACEBOOK</a>
    </div>

  </section>
  <!-- End promotions -->

</div>


<!-- Start Footer -->
<%= render :partial => 'layouts/footer' %>

<!-- End Footer -->



