<!-- Start Header -->
<%= render :partial => 'layouts/header' %>
<!-- End Header -->

<div class="full-container tracking-container">

  <div class="buyers-data">
    <h1><%= @order.title %></h1>

    <div class="images-container">
      <% if @order.order_products_list.present? and @order.order_products_list.order_products_rows.any? %>
          <%= render :partial => 'orders/tracking/products_rows' %>
      <% else %>
          <%= render :partial => 'orders/tracking/single_product' %>
      <% end %>
    </div>
  </div>

  <%

     status_class = 'status-active'
     date_created = @order.created_at.strftime('%m/%d')
     week_later = (@order.created_at + 15.days).strftime('%m/%d')
  %>
  <div class="status-blocks-container">
    <% @statuses.each_with_index do |product_status, i|
      start_date = (i == 0) ? date_created : ''
      deliver_date = (i == (@statuses.size - 1)) ? week_later : ''
    %>

        <div class="status-block <%= status_class %>">

          <label><%= start_date %><%= deliver_date %></label>

          <div class="logo-container ">
            <%= image_tag product_status.image.url(:thumb) %>
          </div>

          <p><%= product_status.name %></p>

          <div class="status-line"></div>
        </div>

        <%
           if (status_class == 'status-active') and (product_status == @order.order_status)
             status_class = 'status-inactive'
           end
        %>
    <% end %>
  </div>

</div>

<%= render :partial => 'layouts/footer' %>