- Simple text Email -
Ieeeeeiiiiii!

<h3>Jola Jola Papensen, te contactaron desde <%= @url %>,</h3>

===============================================




Te paso los datos para que contactes al chavo/a:

Nombre: <%= @name %>
Tel: <%= @tel %>
Email: <%= @email %>
Mensaje: <%= @message%>


Hasta la el proximo Siranushen Alert,



- The Gordínflon Server -
