<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>

<body>
<h2 style="color: #FD6E6E; width: 100%; text-align: center;">|| Pophensen Email ||</h2>

<h3 style="">Papinissss! <%= @user[:email] %> <%= @message %> la compra de una <%= @product[:product_name] %>,</h3>

<p>El usuario que compró es <strong><%= @user[:email] %></strong></p>

<p>Ya se genero la Orden de compra y la podes ver <a href="<%= admin_order_path(@order) %>">ESTE LINK</a></p>

<p>Te paso los detalles abajo...</p>


<div style="border: 1px solid #D0D0D0;
        border-radius: 4px;
        padding: 10px 35px;
        background: #EAEAEA;
        width: auto;
        display: inline-block;">

  <p style="font-style: italic;"><strong>Nombre:</strong> <%= @product.name %></p>

  <p style="font-style: italic;"><strong>Precio:</strong>$<%= @product.price.to_i %></p>

  <p style="font-style: italic;"><strong>Descripcion:</strong> <%=  simple_format(@product.description)  %></p>

  <img src="<%= @image %>" style="width: 80%">

</div>

<p>Bueno Flaaaan, hasta la prox!</p>


<h5 style="font-family: 'Roboto Condensed', Arial; color: gray; margin: 40px 0px 20px 20px;">- The Gordinflon Server
  -</h5>
</body>
</html>




