<div class="order-row">


  <div class="block">
    <div class="inner-block">
      <h3>PRODUCTOS</h3>
      <%= render :partial => 'users/orders/order_product_row' %>
    </div>
  </div>

  <div class="block">
    <div class="inner-block">
      <h3>PRECIO TOTAL</h3>
      <%= format_price @order.total %>
    </div>
  </div>

  <div class="block">
    <div class="inner-block">
      <h3>TRACKEO DE LOS PRODUCTOS</h3>
      <%= @order.status_str unless @order.status.nil? %>

      <div class="status-blocks-container">
        <%
          status_class = 'status-active'
          @statuses.each do |status |
        %>

          <div class="status-block <%= status_class %>">
            <div class="track">
              <span class="line"></span>
              <span class="dot"></span>
            </div>

            <label><%= Order.human_enum_name(:status, status.first) %></label>

            <% if status == @statuses.first %>
              <label class="date"><%= @order.created_at.strftime('%d/%m/%y') %></label>
            <% elsif status == @statuses.count %>
              <label class="date"><%= (@order.created_at + 15.days).strftime('%d/%m/%y') %></label>
            <% end %>

          </div>

          <%
            if (status_class == 'status-active') and (status.first == @order.status)
              status_class = 'status-inactive'
            end
          %>
        <% end %>
      </div>

    </div>
  </div>
</div>