<%= @order.order_status.name %>

<div class="status-blocks-container">
  <%
    status_class = 'status-active'
    @statuses.each_with_index do |product_status, i|
  %>

    <div class="status-block <%= status_class %>">
      <div class="track">
        <span class="line"></span>
        <span class="dot"></span>
      </div>

      <label><%= product_status.name %></label>

      <% if product_status == @statuses.first %>
        <label class="date"><%= @order.created_at.strftime('%d/%m/%y') %></label>
      <% elsif product_status == @statuses.last %>
        <label class="date"><%= (@order.created_at + 15.days).strftime('%d/%m/%y') %></label>
      <% end %>
      
    </div>

    <%
      if (status_class == 'status-active') and (product_status == @order.order_status)
        status_class = 'status-inactive'
      end
    %>
  <% end %>
</div>