<div class="column">
  <%
    counter = 0
    column = 1
    images_per_column = (@products.count / 3.0).floor

    @products.each do |product|
      size = counter % 2 == 0 ? 2 : 1
      image_size = get_image_size column, size

  %>

      <%
        if counter != 0 and (counter % images_per_column == 0)
          column += 1
          if column > 3
            column = 1
            images_per_column = 1
          end
      %>
          </div>
          <div class="column">
      <% end %>


      <a class="column<%= column %>-size<%= size %>" href="<%= product_path product %>">
        <div class="image-block-with-transition hover-block-trigger">
                  <span class="hover-block smooth-transition">
                    <svg>
                      <use xlink:href="<%= image_url('sprite.svg') %>#eye-icon"/>
                    </svg>
                  </span>

          <%= image_tag product.image.url(image_size) %>

          <div class="product-description">
            <h5><%= @products.count %> PRODUCTO <strong>MÁS VENDIDO <%= images_per_column %></strong></h5>
            <h6><%= product.name %> - <%= format_price product.price %></h6>
          </div>

        </div>
      </a>
  <%

    counter += 1
    end
  %>
  </div>
