<div class="column">
  <%
    counter = 0
    column = 1
    @products.each do |product|

      counter += 1
      size = counter % 2 == 0 ? 2 : 1

      if column == 1
        if size == 1
          image_size = :rectangular3
        else
          image_size = :rectangular4
        end

      elsif column == 2
        if size == 1
          image_size = :rectangular4
        else
          image_size = :rectangular5
        end

      elsif column == 3
        if size == 1
          image_size = :rectangular5
        else
          image_size = :square1
        end
      end


  %>

      <%
        if counter % 3 == 0
          column += 1
      %>
          </div>
          <div class="column">
      <% end %>


      <a class="column<%= column %>-size<%= size %>" href="<%= product_path product %>">
        <div class="image-block-with-transition hover-block-trigger">
                  <span class="hover-block smooth-transition">
                    <svg>
                      <use xlink:href="<%= image_url('sprite.svg') %>#eye-icon"/>
                    </svg>
                  </span>

          <%= image_tag product.image.url(image_size) %>

          <div class="product-description">
            <h5>PRODUCTO <strong>MÁS VENDIDO</strong></h5>
            <h6><%= product.name %> - <%= format_price product.price %></h6>
          </div>

        </div>
      </a>
  <% end %>
  </div>
