<div style="width: 100%; text-align: center; padding: 50px 0px 70px; ">


  <img src="<%= image_url('logo-macain-300.png') %>" style="width: 50%; max-width: 150px; margin: 0px 25%;">


  <div style="border: #5d8686 1px solid;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          max-width: 600px;
          width: 96%;
          display: inline-block;">

    <div style="background: url(<%= image_url("fondo-colores.png") %>);">

      <div style="background: #69CACA;
              margin-top: 36px;
              display: inline-block;
              width: 100%;
              color: white;
              border-top: 1px solid white;
              font-family: cursive,sans-serif;
              padding: 6px 0px;">Recuperar Constraseña
      </div>
    </div>


    <div style="width: 90%; padding: 20px 5%;">

      <img src="<%= image_url('lock-icon-macain.png') %>" style="width: 50%; max-width: 150px; margin: 40px 25% 40px;">

      <h1 style="font-family: cursive,sans-serif;
              font-size: 24px;">Te olvidaste tú contraseña <%= @resource.email %>?</h1>

      <p>Te enviamos este mail porque alguien solicitó recuperar tú constraseña de Macain. Para poder cambiarla
        vas a
        tener que entrar al siguiente link: </p>

      <p style="width: auto;
              background: #69caca;
              color: white;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              padding: 20px 0px;
              font-weight: bold;
              font-size: 18px;
              font-family: cursive,sans-serif;"><%= link_to 'Cambiar contraseña', edit_password_url(@resource,
                                                                                                    reset_password_token: @token), %></p>

      <p style="color: #757474;">Si nunca solicitaste este email, podés descartarlo. Tú contraseña va seguir
        siendo la misma.</p>

      <p style="text-align: left; margin: 40px 0px 0px;">Saludos!</p>

      <p style="text-align: left; margin: 10px 0px 20px;">Equipo de Macain</p>

    </div>
  </div>
</div>