<% if @product.product_images.present? %>
    <!-- Start image-detail-container -->
    <div class="image-detail-container">
      <img id="product-detail-zoom" src='<%= @product.product_images.first.picture.url(:rectangular1) %>' data-zoom-image="<%= @product.product_images.first.picture.url(:rectangular1) %>"/>
    </div>
    <!-- End image-detail-container -->


    <!-- Start product-images-gallery -->
    <div id="product-images-gallery" class="product-images-gallery">

      <% @product.product_images.each do |image| %>
          <a href="#" data-image="<%= image.picture.url(:rectangular1) %>" data-zoom-image="<%= image.picture.url(:rectangular1) %>">
            <img id="img_01" src="<%= image.picture.url(:rectangular1) %>"/>
          </a>
      <% end %>

    </div>
    <!-- End product-images-gallery -->
<% end %>
