<!-- Start Header -->
<%= render :partial => 'layouts/header' %>
<!-- End Header -->


<div class="grilla margin-top-medium">
  <div class="breadcrumbs">
    <a href="<%= root_path %>">AloMacain</a>
    <span>/</span>
    <a href="<%= category_path @product.category %>"><%= capitalize_first_letters(@product.category.name) %></a>
    <span>/</span>
    <a href="<%= product_path %>" class="active"><%= capitalize_first_letters(@product.name) %></a>
  </div>
</div>

<div class="grilla product-detail-section">

  <div class="tables-box-container tables-box-container-detail">


    <div class="products-white-container">
      <div class="inner-container">

        <div class="half-container half-container-left">

          <% if @product.product_images.present? %>
              <div id="product-images-gallery" class="product-images-gallery">

                <a href="#" class="active" data-image="<%= @product.image.url(:big) %>" data-zoom-image="<%= @product.image.url(:big) %>">
                  <img id="img_01" src="<%= @product.image.url(:thumb) %>"/>
                  <span class="thumb-filter smooth-transition"></span>
                </a>

                <% @product.product_images.each do |image| %>
                    <a href="#" data-image="<%= image.picture.url(:big) %>" data-zoom-image="<%= image.picture.url(:big) %>">
                      <img id="img_01" src="<%= image.picture.url(:thumb) %>"/>
                      <span class="thumb-filter smooth-transition"></span>
                    </a>
                <% end %>

              </div>
          <% end %>


          <div class="image-detail-container">

            <img id="product-detail-zoom" src='<%= @product.image.url(:big) %>' data-zoom-image="<%= @product.image.url(:big) %>"/>
          </div>
        </div>


        <div class="half-container half-container-right">
          <h1><%= @product.name %></h1>

          <div class="text-detail-container">

            <div class="product-price-box">
              <div class="product-price"><%= format_price @product.price %></div>
              <label>PROMOCIÓN ONLINE</label>
            </div>

            <div class="product-description">
              <%= simple_format(@product.description) %>
            </div>
            <!--
          <div class="product-quantity" data-request-path="">
            <%= number_field_tag 'quantity', 1, min: 1 %>
          </div>

            -->

            <% if user_signed_in? %>
                <a href="<%= @product_link %>" name="MP-Checkout" class="product-buy-button macain-button red-button smooth-transition">
                  Comprar
                </a>
                <script type="text/javascript" src="//resources.mlstatic.com/mptools/render.js"></script>

                <a class="add-to-cart-btn macain-button
                    <%= @is_in_cart ? 'green-button in_cart' : 'transparent-button' %>"
                   href="<%= add_product_to_cart_url(@product_hash) %>"
                   data-rm-href="<%= remove_cart_product_row_url(@product_hash) %>">
                  <%= @is_in_cart ? 'Guardado en el Carrito!' : 'Agregar al Carrito' %>
                </a>

            <% else %>
                <a href="<%= new_user_session_path %>" class="product-buy-button macain-button red-button smooth-transition">
                  Registrarme para comprar
                </a>
            <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>


</div>

<!-- Start Footer -->
<%= render :partial => 'layouts/footer' %>
<!-- End Footer -->
