<%= render :partial => 'home/fixed_top_nav' %>


<div class="tables-box-container tables-box-container-detail">
  <h1>Mesas Macain</h1>

  <div class="products-white-container">
    <div class="inner-container">

      <div class="half-container half-container-left">
        <div class="image-detail-container">
          <%= image_tag @table.image.url(:big) %>
        </div>
      </div>

      <div class="half-container half-container-right">
        <div class="text-detail-container">

          <div class="product-name">
            <%= @table.name %>
          </div>
          <div class="product-price">
            $<%= @table.price.to_i %>
          </div>
          <div class="product-description">
            <%= @table.description %>
            <%= @table.image.path(:medium) %>
          </div>

          <a href="<%= @table.payment['response']['sandbox_init_point'] %>" name="MP-Checkout" class="product-buy-button">
            COMPRAR
          </a>
          <span class="payment-methods"></span>
          <script type="text/javascript" src="//resources.mlstatic.com/mptools/render.js"></script>
        </div>
      </div>

    </div>
  </div>
</div>


