<!-- Start Header -->
<%= render :partial => 'layouts/header' %>
<!-- End Header -->


<div class="grilla margin-top-medium">
  <div class="breadcrumbs">
    <a href="<%= root_path %>">Lazlo</a>
    <span>/</span>
    <a href="<%= category_path @product.category %>"><%= capitalize_first_letters(@product.category.name) %></a>
    <span>/</span>
    <a href="<%= product_path %>" class="active"><%= capitalize_first_letters(@product.name) %></a>
  </div>
</div>

<div class="grilla product-detail-section">

  <div class="products-white-container">
    <div class="inner-container">


      <div class="half-container half-container-left">
        <!-- Start Images Detail -->
        <%= render :partial => 'products/images_detail' %>
        <!-- End Images Detail -->
      </div>

      <div class="half-container half-container-right">
        <!-- Start Description -->
        <%= render :partial => 'products/description' %>
        <!-- End Description -->
      </div>

    </div>
  </div>

  <!-- Start Suggestions -->
  <%= render :partial => 'products/suggestions' %>
  <!-- End suggestions -->

</div>



<script type="text/javascript" src="//resources.mlstatic.com/mptools/render.js"></script>

<!-- Start Footer -->
<%= render :partial => 'layouts/footer' %>
<!-- End Footer -->
