<!-- Start Footer -->
<footer class="footer">
  <div class="grilla">

    <div class="footer-block ">
      <h6>INSCRIBITE A NUESTRO NEWSLETTER</h6>

      <form class="newsletter-footer-form" url="<%= add_to_newsletter_url %>">
        <input type="email" name="email" class="newsletter-email" placeholder="Ingresa tú email">
        <button class="transparent-with-hover-yellow">ENVIAR</button>
      </form>

      <div class="social-icons">
        <a target="_blank" href="https://www.facebook.com/lazlo.design">
          <svg>
            <use xlink:href="<%= image_url('sprite.svg') %>#facebook-icon-yellow"/>
          </svg>
        </a>

        <a target="_blank" href="https://www.instagram.com/lazlo.la/">
          <svg>
            <use xlink:href="<%= image_url('sprite.svg') %>#instagram-icon-yellow"/>
          </svg>
        </a>

        <a target="_blank" href="https://pinterest.com/lazlola/">
          <svg>
            <use xlink:href="<%= image_url('sprite.svg') %>#pinterest-icon-yellow"/>
          </svg>
        </a>

      </div>
    </div>

    <div class="footer-block">

      <h6>
        SEGUINOS EN INSTAGRAM
        <a href="https://www.instagram.com/<%= @instagram_username %>" target="_blank">
          @<%= @instagram_username %>
        </a>
      </h6>

      <% if @instagram_images.present? %>
        <div class="instagram-fotos">
          <% @instagram_images.each_with_index do |media_item, i| %>
            <a href="<%= media_item.link %>" target="_blank">
              <img src="<%= media_item.images.thumbnail.url %>">
            </a>
          <% end %>
        </div>
      <% end %>

    </div>

    <div class="footer-block">
      <h6>CONTACTO</h6>

      <div class="contact">
        <a href="tel:+5491158620355">+54 911 5862 0355</a>
        <!--
         /
        <a href="tel:+541135555555">+54 11 3555 5555</a>
        -->
        <address alt="hola@lazlo.la">hola@lazlo.la</address>

      </div>


    </div>


  </div>
</footer>
<!-- End Footer-->


<!-- Dialog Flow -->
<!--<div class="chat-widget">-->

<!--  <div class="chat-button fast-transition">-->
<!--    <svg class="fast-transition chat-balloon-icon">-->
<!--      <use xlink:href="<%#= image_url('sprite.svg') %>#chat-icon"/>-->
<!--    </svg>-->
<!--    <svg class="fast-transition chat-cross-icon">-->
<!--      <use xlink:href="<%#= image_url('sprite.svg') %>#close-cross-black"/>-->
<!--    </svg>-->
<!--  </div>-->

<!--  <iframe class="chat-iframe display-on-chat fast-transition" src="https://console.dialogflow.com/api-client/demo/embedded/767b0398-573b-4573-bd3c-bf8f44907226"></iframe>-->

<!--  <div class="iframe-header display-on-chat fast-transition">-->

<!--    <div class="top-header">-->
<!--      <div class="logo-container circle-border-radious">-->
<!--        <svg>-->
<!--          <use xlink:href="<%#= image_url('sprite.svg') %>#lazlo-logo-white"/>-->
<!--        </svg>-->
<!--      </div>-->
<!--      <h3>Bienvenido a Lazlo!</h3>-->

<!--    </div>-->

<!--    <div class="bottom-header">-->
<!--      Contame, en qué te podemos ayudar?-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
<!-- End Dialog Flow -->




<div class="shadow-layer"></div>

</body>
</html>
