<!-- Start Footer -->
<footer class="footer">
  <div class="grilla">

    <div class="footer-block instagram">
      <h6>
        SEGUINOS EN
        <a href="https://www.instagram.com/<%= @instagram_client.user.username %>" target="_blank">
          @<%= @instagram_client.user.username %>
        </a>
      </h6>

      <div class="instagram-fotos">
        <% @instagram_client.user_recent_media.each_with_index do |media_item, i| %>
            <% break if i == 8 %>
            <a href="<%= media_item.link %>" target="_blank">
              <img src="<%= media_item.images.thumbnail.url %>">
            </a>
        <% end %>
      </div>

    </div>

    <div class="footer-block social-footer">
      <h6>CONECTATE CON MACAIN</h6>

      <a class="social-icons" target="_blank" href="https://www.facebook.com/allomacain">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>

      <a class="social-icons" target="_blank" href="https:///www.instagram.com/alo_macain">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>

      <a class="social-icons" target="_blank" href="http://listado.mercadolibre.com.ar/_CustId_130206835">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </a>

    </div>

    <div class="footer-block ventas">
      <h6>CONTACTO</h6>


      <div class="cta-btn transition contact-form-button">
        <a>VENTAS</a>
      </div>

      <div class="cta-btn transition contact-form-button">
        <a>CONSULTAS</a>
      </div>

    </div>


  </div>
</footer>
<!-- End Footer-->


<div class="social-nav-footer">

  <a class="social-icons" target="_blank" href="https://www.facebook.com/allomacain">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>

  <a class="social-icons smooth-transition" target="_blank" href="https:///www.instagram.com/alo_macain">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>

  <a class="social-icons smooth-transition" target="_blank" href="http://listado.mercadolibre.com.ar/_CustId_130206835">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </a>

  <a class="social-icons smooth-transition contact-form-button">
    <i class="fa fa-at" aria-hidden="true"></i>
  </a>

  <a class="social-icons smooth-transition" href="<%= new_user_session_path %>">
    <i class="fa fa-user-o" aria-hidden="true"></i>
  </a>

</div>




</body>
</html>
