<header>

  <!-- Notifications -->
  <div class="notification-bar notice
    <% if notice.nil? %> hidden-bar
    <% end %>">
    <p><%= notice %></p>
    <i class="fa fa-times-circle" aria-hidden="true"></i>
  </div>

  <div class="notification-bar alert
    <% if alert.nil? %> hidden-bar
    <% end %>">
    <p><%= alert %></p>
    <i class="fa fa-times-circle" aria-hidden="true"></i>
  </div>
  <!-- END Notifications -->

  <div class="social-nav-container">
    <div class="social-nav ">

      <div class="grilla">

        <div class="social-block social-block-left smooth-transition">
          <a class="social-icons" target="_blank" href="https://www.facebook.com/allomacain">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>

          <a class="social-icons smooth-transition" target="_blank" href="https:///www.instagram.com/alo_macain">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>

          <a class="social-icons smooth-transition contact-form-button">
            <i class="fa fa-at" aria-hidden="true"></i>
          </a>
        </div>

        <div class="social-block social-block-right">
          <% if user_signed_in? %>
              <a class="header-user-name" href="<%= cart_path %>"><%= current_user.email %></a>

              <a class="social-icons smooth-transition cart-block" href="<%= cart_path %>">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>

                <% if current_user.cart_count.present? %>
                    <span class="notification-number"><%= current_user.cart_count %></span>
                <% end %>
              </a>

              <!-- <%= link_to 'Salir', destroy_user_session_path, :method => :delete %> -->

          <% else %>
              <%= link_to 'Ingresar / Registrate', new_user_session_path, :class => 'header-user-name' %>
              <a class="social-icons smooth-transition cart-block" href="<%= cart_path %>">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </a>
          <% end %>
        </div>

      </div>

    </div>
  </div>


  <div class="grilla">
    <a class="logo" href="<%= root_path %>">
      <%= image_tag('logo-macain-300.png') %>
    </a>
  </div>

  <nav>
    <div class="grilla">

      <% @page_categories.each do |category| %>
          <a class="<%= active_class(category_path(category)) %> smooth-transition"
             href="<%= category_path category %>"><%= category.name %></a>
      <% end %>

    </div>
  </nav>


</header>

