<header class="nav-down">

  <!-- Notifications -->
  <div class="notification-bar notice">
    <p></p>
  </div>

  <div class="notification-bar alert">
    <p></p>
  </div>

  <script>
		<% if notice.present? %>
		showSuccessfulNotification('<%= notice %>');
		<% elsif alert.present? %>
		showFailedNotification('<%= alert %>');
		<% end %>
  </script>
  <!-- END Notifications -->


  <nav class="grilla">
    <div class="left-container">

      <a class="logo menu-button" href="<%= root_path %>">
        <svg>
          <use xlink:href="<%= image_url('sprite.svg') %>#lazlo-logo"/>
        </svg>
      </a>

      <a class="menu-button products-menu-button <%= @current_section == 'products' ? 'current-section' : '' %>">
        <h2 class="expandable">
          PRODUCTOS
        </h2>
        <span class="smooth-transition"></span>
      </a>

      <a class="menu-button <%= @current_section == 'featured' ? 'current-section' : '' %>" href="<%= root_path %>">
        <h2>DESTACADOS</h2>
        <span class="smooth-transition"></span>
      </a>

    </div>

    <div class="right-container">


      <a class="social-icons with-hover" target="_blank" href="https://www.facebook.com/lazlo.design">
        <span>
          <svg class="header-icon">
            <use xlink:href="<%= image_url('sprite.svg') %>#facebook-icon"/>
          </svg>
          <svg class="hovered">
            <use xlink:href="<%= image_url('sprite.svg') %>#facebook-icon-yellow"/>
          </svg>
        </span>
      </a>

      <a class="social-icons with-hover" target="_blank" href="https://www.instagram.com/lazlo.la/">
        <span>
          <svg class="header-icon">
            <use xlink:href="<%= image_url('sprite.svg') %>#instagram-icon"/>
          </svg>
          <svg class="hovered">
            <use xlink:href="<%= image_url('sprite.svg') %>#instagram-icon-yellow"/>
          </svg>
        </span>
      </a>

      <a class="social-icons with-hover" target="_blank" href="https://www.facebook.com/lazlo">
        <span>
          <svg class="header-icon">
            <use xlink:href="<%= image_url('sprite.svg') %>#pinterest-icon"/>
          </svg>
          <svg class="hovered">
            <use xlink:href="<%= image_url('sprite.svg') %>#pinterest-icon-yellow"/>
          </svg>
        </span>
      </a>

      <a class="social-icons with-hover contact-form-button">
        <span>
          <svg class="header-icon">
            <use xlink:href="<%= image_url('sprite.svg') %>#mail-icon"/>
          </svg>
          <svg class="hovered">
            <use xlink:href="<%= image_url('sprite.svg') %>#mail-icon-yellow"/>
          </svg>
        </span>
      </a>


      <a class="header-user-name" href="<%= user_signed_in? ? profile_url : new_user_session_path %>">
        <%= user_signed_in? ? current_user.email : 'iniciar sesión' %>
      </a>

      <a class="header-user-icon" href="<%= user_signed_in? ? profile_url : new_user_session_path %>">
        <i class="fa fa-user" aria-hidden="true"></i>
      </a>


      <a class="cart-button <%= user_signed_in? ? ' logged-cart-button' : '' %><%= @action == 'profile' ? '' : ' displayable' %> "
         href="<%= checkout_path %>">
        <i class="fa fa-shopping-cart smooth-transition" aria-hidden="true"></i>
        <% if user_signed_in? and current_user.cart_count.present? %>
          <span class="notification-number"><%= current_user.cart_count %></span>
        <% end %>
      </a>
      <a class="responsive-menu with-hover">
        <span>
          <svg class="header-icon">
            <use xlink:href="<%= image_url('sprite.svg') %>#menu-responsive-icon"/>
          </svg>
        </span>
      </a>

    </div>

  </nav>

  <!-- Start Products menu -->
  <%= render :partial => 'layouts/products_menu' %>
  <!-- End Products menu -->

</header>


<% if @action != 'profile' %>
  <!-- Start Sidebar cart -->
  <%= render :partial => 'users/cart/sidebar_cart' %>
  <!-- End Sidebar cart -->
<% end %>
