<header>

  <!-- Notifications -->
  <div class="notification-bar notice
    <% if notice.nil? %> hidden-bar
    <% end %>">
    <p><%= notice %></p>
    <i class="fa fa-times-circle" aria-hidden="true"></i>
  </div>

  <div class="notification-bar alert
    <% if alert.nil? %> hidden-bar
    <% end %>">
    <p><%= alert %></p>
    <i class="fa fa-times-circle" aria-hidden="true"></i>
  </div>
  <!-- END Notifications -->


  <nav class="grilla">
    <div class="left-container">

      <a class="logo menu-button" href="<%= root_path %>">
        <%= image_tag('lazlo-logotipo.svg') %>
      </a>

      <a class="menu-button" href="<%= root_path %>">
        <h2>PRODUCTOS</h2>
        <span class="smooth-transition"></span>
      </a>

      <a class="menu-button current-section" href="<%= root_path %>">
        <h2>DESTACADOS</h2>
        <span class="smooth-transition"></span>
      </a>

    </div>

    <div class="right-container">
      <a class="social-icons" target="_blank" href="https://www.facebook.com/lazlo">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>

      <a class="social-icons smooth-transition" target="_blank" href="https:///www.instagram.com/lazlo">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>

      <a class="social-icons smooth-transition contact-form-button">
        <i class="fa fa-at" aria-hidden="true"></i>
      </a>


      <% if user_signed_in? %>
          <a class="header-user-name" href="<%= profile_url %>"><%= current_user.email %></a>

          <a class="social-icons smooth-transition cart-block" href="<%= cart_path %>">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>

            <% if current_user.cart_count.present? %>
                <span class="notification-number"><%= current_user.cart_count %></span>
            <% end %>
          </a>

      <% else %>
          <%= link_to 'iniciar sesión', new_user_session_path, :class => 'header-user-name' %>
          <a class="social-icons smooth-transition cart-block" href="<%= cart_path %>">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </a>
      <% end %>


    </div>

  </nav>

</header>

