<!DOCTYPE html>
<html>
<head>
  <title><%= @og_title.present? ? @og_title : 'Macain || Productos de Diseño' %></title>
  <meta name="keywords" content="mesa, ratona, auxiliar, de comedor, mesita, marmol, hierro, lampara, perchero, decoración, muebles, interiores, living, comedor, desayunador, consola, dresuar"/>
  <meta name="description"
        content="<%= @og_description.present? ? @og_description : 'Mostramos nuestras ideas creando objetos divertidos. Mesas de mármol, caballitos mecedores, juegos de ajedrez, relojes de mesa.'%>"/>
  <meta name="canonical" content="http://alomacain.com"/>
  <meta name="robots" content="INDEX, FOLLOW"/>
  <meta name="author" content="theamalgama.com"/>
  <meta name="viewport" content="width=1100, user-scalable=yes"/>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Language" content="ES"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=10">

  <meta property="fb:app_id" content="1708824779437109"/>
  <meta property="og:url" content="<%= @current_url %>"/>
  <meta property="og:title" content="<%= @og_title.present? ? @og_title : 'Macain - Productos de Diseño' %>"/>
  <meta property="og:description" content="<%= @og_description.present? ? @og_description : 'Mostramos nuestras ideas creando objetos divertidos.
                                    Mesas de mármol, caballitos mecedores, juegos de ajedrez, relojes de mesa.' %>"/>
  <meta property="og:image" content="<%= @og_image.present? ? @og_image : image_path('macain-icon.png') %>"/>

  <meta name="HandheldFriendly" content="true"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="apple-mobile-web-app-title" content="Macain">
  <meta name="viewport" content="initial-scale=1 maximum-scale=1 user-scalable=0 minimal-ui"/>

  <link rel="shortcut icon" href="<%= image_path('macain-icon.png') %>">
  <link rel="icon" href="<%= image_path('macain-icon.png') %>" type="image/x-icon">

  <!-- Apple Icons -->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= image_path('macain-icon.jpg') %>"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= image_path('macain-icon.jpg') %>"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= image_path('macain-icon.jpg') %>"/>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= image_path('macain-icon.jpg') %>"/>

  <meta name="google-site-verification" content="KaZG70-cgjFM2nZ8LIas27gbOPIlmwPLBtJhY8NGvD0" />
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Roboto:400,700" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  <script>
      (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-41682319-8', 'auto');
      ga('send', 'pageview');

  </script>
</head>
<body>


<%= yield %>

<div class="contact-form ">
  <i class="fa fa-times smooth-transition close-contact-form" aria-hidden="true"></i>

  <div class="contact-form-inner">

    <%= form_tag('/contact_email', :method => 'POST', :class => 'contact') do %>
        <h5>alo@macain.com.ar</h5>

        <input type="text" name="macain_name" placeholder="Nombre" required/>

        <input type="email" name="macain_email" placeholder="E-mail" required/>

        <textarea name="macain_message" placeholder="Consulta"></textarea>

        <%= submit_tag('Enviar', :class => 'smooth-transition') %>
        </div>
    <% end %>
    </div>
</div>

<audio id="audio-up" src="<%= audio_url('audio-up.mp3') %>" preload="auto"></audio>
</body>
</html>
