<!DOCTYPE html>
<html>
<head>
  <title><%= @og_title.present? ? @og_title : 'Lazlo || Productos de Diseño' %></title>
  <meta name="keywords" content="mesa, ratona, auxiliar, de comedor, mesita, marmol, hierro, lampara, perchero, decoración, muebles, interiores, living, comedor, desayunador, consola, dresuar"/>
  <meta name="description"
        content="<%= @og_description.present? ? @og_description : 'Tienda online de productos de diseño. Creamos, desarrollamos y fabricamos objetos de decoración. Muebles, mesas, iluminación, deco, sillas y más.' %>"/>
  <meta name="canonical" content="http://lazlo.la"/>
  <meta name="robots" content="INDEX, FOLLOW"/>
  <meta name="author" content="amalgama.co"/>
  <meta name="viewport" content="width=1100, user-scalable=yes"/>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Language" content="ES"/>
  <link rel="alternate" hreflang="es" href="<%= @current_url || 'https://lazlo.la/' %>"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=10">

  <meta property="fb:app_id" content="1708824779437109"/>
  <meta property="og:url" content="<%= @current_url %>"/>
  <meta property="og:title" content="<%= @og_title.present? ? @og_title : 'Lazlo - Productos de Diseño' %>"/>
  <meta property="og:description" content="<%= @og_description.present? ? @og_description : 'Tienda online de productos de diseño. Creamos, desarrollamos y fabricamos objetos de decoración. Muebles, mesas, iluminación, deco, sillas y más.' %>"/>
  <meta property="og:image" content="<%= @og_image.present? ? @og_image : image_path('logos/lazlo-icon-100.png') %>"/>

  <meta name="HandheldFriendly" content="true"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="apple-mobile-web-app-title" content="Lazlo">
  <meta name="viewport" content="initial-scale=1 maximum-scale=1 user-scalable=0 minimal-ui"/>

  <link rel="shortcut icon" href="<%= image_path('logos/lazlo-icon-40.png') %>">
  <link rel="icon" href="<%= image_path('logos/lazlo-icon-40.png') %>" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- Apple Icons -->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="shortcut icon" href="<%= image_path('logos/lazlo-icon-bg-100.png') %>" type="image/x-icon"/>
  <link rel="apple-touch-icon" href="<%= image_path('logos/lazlo-icon-bg-100.png') %>"/>
  <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path('logos/lazlo-icon-bg-100.png') %>"/>
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path('logos/lazlo-icon-bg-100.png') %>"/>
  <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path('logos/lazlo-icon-bg-100.png') %>"/>
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path('logos/lazlo-icon-bg-100.png') %>"/>
  <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path('logos/lazlo-icon-bg-100.png') %>"/>
  <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path('logos/lazlo-icon-bg-100.png') %>"/>
  <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path('logos/lazlo-icon-bg-100.png') %>"/>
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('logos/lazlo-icon-bg-100.png') %>"/>


  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			 'gtm.start':
				  new Date().getTime(), event: 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0],
			 j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src =
			 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-TVQGR3X');</script>
  <!-- End Google Tag Manager -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVQGR3X"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<%= yield %>

<!-- Start Contact Form -->
<%= render :partial => 'layouts/contact_form' %>
<!-- End Contact Form -->

<audio id="audio-up" src="<%= audio_url('audio-up.mp3') %>" preload="auto"></audio>
</body>
</html>
